body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f8fa;
    overflow: hidden; /* Prevent body scrolling */
}

.container {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
    border-radius: 8px;
    width: 1000px;
    overflow: hidden;
    margin: 20px 0; /* Add margin to create space on top and bottom */
}

.sidebar {
    width: 250px;
    padding: 40px;
    background-color: #ffffff;
    border-right: 1px solid #e0e0e0;
}

.sidebar h2 {
    font-size: 24px;
    color: #171a1f;
    font-weight: bold;
    margin-bottom: 20px;
}

.progress-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
    border-radius: 8px;
}
.step {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
}
.step:last-child {
    margin-bottom: 0;
}
.step-number {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #E5E7EB;
    color: #3e3e3e;
    margin-right: 12px;
}
.step-number.active {
    background-color: #6e75d1;
    color: #ffffff;
}
.step-label {
    font-size: 16px;
    color: #6e7787;
}
.step-label.active {
    color: #171a1f;
    font-weight: bold;
}
.step::before {
    content: '';
    position: absolute;
    left: 14px;
    top: 34px;
    width: 2px;
    height: 100%;
    background-color: #E5E7EB;
    z-index: -1;
}
.step:last-child::before {
    display: none;
}
.content {
    flex: 1;
    padding: 40px;
    overflow-y: auto; /* Allow vertical scrolling for content */
    height: 80vh; /* Adjust height to account for the top and bottom margins */
}

.info-box {
    display: flex;
    align-items: center;
    background-color: #fff4f0;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.info-box p {
    margin: 0;
    color: #171a1f;
}

.form-header {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-header img {
    margin-right: 10px;
}

.form-header h2 {
    margin: 0;
    font-size: 24px;
    color: #171a1f;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-field {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.form-field:last-child {
    margin-right: 0;
}

.form-field label, .gender-label {
    font-size: 14px;
    color: #424955;
    font-weight: bold;
    margin-bottom: 8px;
}

.form-field input, .form-field select, .form-field textarea {
    padding: 10px;
    font-size: 14px;
    color: #171a1f;
    background-color: #f3f4f6;
    border: none;
    border-radius: 6px;
}

.form-field input::placeholder, .form-field select::placeholder, .form-field textarea::placeholder {
    color: #bcc1ca;
}

.form-field textarea {
    resize: vertical;
}

.form-field.years-of-study {
    margin-bottom: 20px;
}

.form-field.years-of-study label {
    font-size: 14px;
    color: #424955;
    font-weight: bold;
    margin-right: 10px;
}

.years-of-study-selects {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.years-of-study-selects select {
    padding: 10px;
    font-size: 14px;
    color: #171a1f;
    background-color: #f3f4f6;
    border: none;
    border-radius: 6px;
}

.years-of-study-selects span {
    font-size: 14px;
    color: #171a1f;
    text-align: center;
}

.add-education {
    color: #6e75d1;
    text-decoration: none;
    margin-top: 20px;
}

.add-education:hover {
    text-decoration: underline;
}


.form-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.back-btn, .continue-btn {
    padding: 12px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.back-btn {
    background-color: #e0e0e0;
    color: #333;
}

.continue-btn {
    background-color: #6e75d1;
    color: #ffffff;
}
