@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f8fa;
}

.profile-edit-container {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
    border-radius: 8px;
    width: 1000px;
    margin: 20px; /* Add margin to create space on top and bottom */
    overflow: hidden;
}

.profile-edit-content {
    display: flex;
    gap: 20px;
    width: 100%;
}

.sidebar {
    width: 250px;
    padding: 40px;
    background-color: #ffffff;
    border-right: 1px solid #e0e0e0;
}

.back-button {
    text-decoration: none;
    color: #323842;
    font-size: 20px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    color: #323842;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
}

.sidebar a.active {
    background-color: #eef1fc;
    color: #6e75d1;
    font-weight: bold;
}

.password-settings {
    flex: 1;
    padding: 40px;
}

.password-settings h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.password-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 30px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.password-input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 12px;
    background-color: #f9f9f9;
    width: 100%;
}

.password-input-wrapper input {
    border: none;
    outline: none;
    width: 100%;
    background: none;
    padding: 0;
    font-size: 16px;
}

.password-toggle-icon {
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    color: #333;
}

.password-toggle-icon i {
    font-size: 18px;
    line-height: 1;
}

.password-toggle-icon:hover {
    color: #000;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #6e75d1;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
}

.change-password-button {
    padding: 15px 25px;
    border: none;
    border-radius: 4px;
    background-color: #6e75d1;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.change-password-button:hover {
    background-color: #5a63b6;
}
